<div class="show-thread">

    <div class="view-header" *ngIf="loaded">
        <div class="breadcrumb-combined">
            <ol class="breadcrumb">
                <li><a [routerLink]="['/']">Friday Night Beer</a></li>
                <li><a [routerLink]="['/']">Forum</a></li>
                <li *ngIf="successful"><a [routerLink]="['/forum', forumId]">{{thread.forumTitle}}</a></li>
                <li class="active" *ngIf="successful">{{thread.title}}</li>
                <li class="active" *ngIf="!successful">Fehler</li>
            </ol>
            <div class="headeroptions">
				<span *ngIf="permissionReply">
					<a (click)="showReply()">Antworten</a>
				</span>
            </div>
        </div>
    </div>
    <div class="main-content" *ngIf="loaded && successful">
        <h2>{{thread.title}}</h2>
        <table class="topic">
            <tbody>
            <tr *ngFor="let post of thread.posts">
                <td class="showtopic-user-col">
                    <div><a [routerLink]="['/user', post.userId]">{{post.userName}}</a></div>
                    <div *ngIf="post.userFullname">
                        {{post.userFullname}}
                    </div>
                    <div *ngIf="post.hasAvatar && permissionAvatar">
                        <img [src]="userAvatarUrl" alt="[Avatar]" />
                    </div>
                    <div>{{post.date | date:'dd.MM.yyyy HH:mm'}}</div>
                </td>
                <td class="showtopic-content-col">
                    <div class="post-content" [innerHTML]="post.content"></div>
                    <div class="post-uploads" *ngIf="post.hasAttachments">
                        <span class="post-uploads-title">Attachments:</span>
                        <ul>
                            <li *ngFor="let attachment of post.attachments">
                                <a [href]="attachment.url" target="_self">{{attachment.filename}}</a>
                                ({{attachment.size}} bytes, {{attachment.hits}} Hits)
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr *ngIf="permissionReply">
                <td></td>
                <td>
                    <button type="button" class="btn btn-success" id="btn_showinsertpost"
                            (click)="showReply()">Antworten</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="loading-spinner" *ngIf="!loaded"></div>
    <alert type="danger" *ngIf="loaded && !successful">{{errorMessage}}</alert>
</div>