<header>
    <h1><a [routerLink]="['Forums']">{{settings.siteTitle}}</a></h1>
    <a id="logo" [routerLink]="['Forums']">
        <img [src]="settings.logo" alt="" width="64" height="64">
    </a>
    <nav>
        <ul id="pagemenu">
            <li *ngIf="(headerAuthState|async).permissionForum" class="selected"><a [routerLink]="['Forums']">Forum</a></li>
            <li *ngIf="(headerAuthState|async).permissionMedia"><a [routerLink]="['Media']">Media</a></li>
            <li *ngIf="(headerAuthState|async).permissionEvents"><a [routerLink]="['Events']">Events</a></li>
            <li *ngIf="(headerAuthState|async).permissionMembers"><a [routerLink]="['Members']">Users</a></li>
            <li *ngIf="(headerAuthState|async).permissionAdmin"><a [routerLink]="['Admin']">Administration</a></li>
        </ul>
        <ul id="usermenu">
            <li *ngIf="!(headerAuthState|async).loggedIn"><a [routerLink]="['Login']">Login</a></li>
            <li *ngIf="!(headerAuthState|async).loggedIn && settings.registerEnabled"><a [routerLink]="['Register']">Register</a></li>
            <li *ngIf="(headerAuthState|async).loggedIn"><a [routerLink]="['Settings']">Settings</a></li>
            <li *ngIf="(headerAuthState|async).loggedIn"><a [routerLink]="['Login']">Logout</a></li>
        </ul>
    </nav>
</header>