<div class="view-listforums">

    <div class="view-header" *ngIf="successful && loaded">
        <div class="breadcrumb-combined">
            <ol class="breadcrumb">
                <li><a routerLink="/"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active">{{"Section.Forum"|translate}}</li>
            </ol>
            <ul class="headeroptions">
                <li>
                    <span class="glyphicon glyphicon-search"></span>
                    <a routerLink="/search/forum">{{"Common.Search"|translate}}</a>
                </li>
                <li> <!-- TODO: Admin Check -->
                    <span class="glyphicon glyphicon-wrench"></span>
                    <a routerLink="/admin/forums">{{"ForumOverview.Configure"|translate}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content" *ngIf="successful && loaded">
        <div *ngFor="let category of categories" class="listforums-category">
            <h2>{{category.name}}</h2>
            <table class="forums">
                <thead>
                <tr>
                    <th class="forum-icon-col"></th>
                    <th class="forum-title-col">{{"ForumOverview.Cols.Forum"|translate}}</th>
                    <th class="forum-content-col hidden-sm hidden-xs">{{"ForumOverview.Cols.Content"|translate}}</th>
                    <th class="forum-latestpost-col hidden-xs">{{"ForumOverview.Cols.LastEntry"|translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let forum of category.forums" [class]="forum.status">
                    <td class="forum-icon-col"><span class="icon"></span></td>
                    <td class="forum-title-col">
                        <a [routerLink]="['/forum', forum.url]">{{forum.name}}</a>
                        <div>{{forum.description}}</div>
                    </td>
                    <td class="forum-content-col hidden-sm hidden-xs">
                        <div>{{"ForumOverview.CellLabel.Threads"|translate:{'threads':forum.numThreads} }}</div>
                        <div>{{"ForumOverview.CellLabel.Posts"|translate:{'posts':forum.numPosts} }}</div>
                    </td>
                    <td class="forum-latestpost-col hidden-xs">
                        <div *ngIf="forum.hasLastPost">
                            <div><a [routerLink]="['/thread', forum.lastPostId]">{{forum.lastPostTitle}}</a></div>
                            <div>
                                {{"ForumOverview.CellLabel.PostMeta.by"|translate}} <a [routerLink]="['/user', forum.lastPostUser]">{{forum.lastPostUserName}}</a>,
                                {{forum.lastPostDate | localizedDate:"ForumOverview.CellLabel.PostMeta.on" }}
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="loading-spinner" *ngIf="!loaded"></div>
    <alert type="danger" *ngIf="!successful && loaded">{{errorMessage}}</alert>
</div>