<header>
    <h1><a routerLink="/">{{settings.siteTitle}}</a></h1>
    <a id="logo" routerLink="/">
        <img id="logo_large" [src]="env.appResourcesRoot + '/logo.png'" alt="Site Logo">
        <img id="logo_small" [src]="env.appResourcesRoot + '/logo_small.png'" alt="Site Logo">
    </a>
    <nav>
        <ul id="pagemenu">
            <li *ngIf="(headerAuthState|async).permissionForum" class="selected"><a routerLink="/">{{"Section.Forum"|translate}}</a></li>
            <li *ngIf="(headerAuthState|async).permissionMedia"><a routerLink="/media">{{"Section.Media"|translate}}</a></li>
            <li *ngIf="(headerAuthState|async).permissionEvents"><a routerLink="/events">{{"Section.Events"|translate}}</a></li>
            <li *ngIf="(headerAuthState|async).permissionMembers"><a routerLink="/users">{{"Section.Users"|translate}}</a></li>
            <li *ngIf="(headerAuthState|async).permissionAdmin"><a routerLink="/admin">{{"Section.Admin"|translate}}</a></li>
        </ul>
        <ul id="usermenu">
            <li *ngIf="!(headerAuthState|async).loggedIn"><a routerLink="/login">{{"User.Login"|translate}}</a></li>
            <li *ngIf="!(headerAuthState|async).loggedIn && settings.registerEnabled"><a routerLink="/register">{{"User.Register"|translate}}</a></li>
            <li *ngIf="(headerAuthState|async).loggedIn"><a routerLink="/settings">{{"User.Settings"|translate}}</a></li>
            <li *ngIf="(headerAuthState|async).loggedIn"><a routerLink="/login">{{"User.Logout"|translate}}</a></li>
        </ul>
    </nav>
    <div id="languagemenu">
        <a (click)="switchLanguage('de')">De</a>
        <a (click)="switchLanguage('en')">En</a>
    </div>
</header>