/*
 * Page: Show Forum in Modern Theme
 */

@import "variables.less";
@import "mixins.less";

html.modern-theme {
	
	.view-showtopic .main-content h2 {
		margin-top: 0;
	}
	
	table.topic {
		.visualTable;
		
		.showtopic-user-col {
			width: 170px;
			vertical-align: top;
		}
		.showtopic-content-col {
			width: 100%;
		}
		
		td {
			border-bottom: 2px solid #a0a0a0;
		}
	}
	
	.post-uploads {
		display: block;
		padding: 4px;
		margin: 12px 8px 8px;
		border: 1px dashed #cdcdcd;
		background-color: #ffffff;
		
		.post-uploads-title {
			display: block;
			font-weight: bold;
			margin: 4px 4px 8px 4px;
		}
	}
	
	#insertPostForm {
		margin-top: 12px;
	}
}
