<div ng-controller="ConfigureForumsCtrl" class="view-configureforums">

	<div class="view-header" ng-show="forumsStatus.successful">
		<ol class="breadcrumb">
			<li><a ng-href="/#/" site-title>Friday Night Beer</a></li>
			<li><a ng-href="/#/">Forum</a></li>
			<li class="active">Foren Verwalten</li>
		</ol>
	</div>
	<div class="main-content" ng-show="forumsStatus.successful">
		<div id="configureforums">
			<div class="configureforums-category" ng-repeat="category in categories">
				<div class="configureforums-categoryheader">
					<span ng-hide="category.edited" ng-click="startEdit(category, 'name')">{{category.name}}</span>
					<input ng-show="category.edited" ng-model="category.name" type="text" />
					<span ng-show="category.edited" class="btn-icon-ok" ng-click="saveEdit(category)"></span>
					<span ng-show="category.edited" class="btn-icon-cancel" ng-click="cancelEdit(category, 'name')"></span>
					<span class="icon-restricted">
						<span class="glyphicon glyphicon-lock"></span>
					</span>
				</div>
				<div class="configureforums-categoryforums">
					<div class="configureforums-forum" ng-repeat="forum in category.forums">
						<strong>{{forum.name}}</strong>
						<span class="icon-restricted">
							<span class="glyphicon glyphicon-lock"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="loading-spinner" ng-show="forumsStatus.loading"></div>
	<alert type="danger" ng-show="forumsStatus.error">{{forumsStatus.errormessage}}</alert>
</div>