<div ng-controller="ConfigureForumsCtrl" class="view-configureforums">

	<div class="view-header" ng-show="forumsStatus.successful">
		<ol class="breadcrumb">
			<li><a ng-href="/#/" site-title>Friday Night Beer</a></li>
			<li><a ng-href="/#/">Forum</a></li>
			<li class="active">Foren Verwalten</li>
		</ol>
	</div>
	<div class="main-content" ng-show="forumsStatus.successful">
		<div id="configureforums">
			<div class="configureforums-category" ng-repeat="category in categories">
				<div class="configureforums-categoryheader edit-container">
					<label ng-hide="categoryEdit(category).edited" ng-click="categoryEdit(category).edit($event)">{{category.name}}</label>
					<input ng-show="categoryEdit(category).edited" ng-model="categoryEdit(category).value" type="text" />
					<span ng-show="categoryEdit(category).edited" class="btn-icon-ok" ng-click="categoryEdit(category).save()"></span>
					<span ng-show="categoryEdit(category).edited" class="btn-icon-cancel" ng-click="categoryEdit(category).cancel()"></span>
					<span class="icon-restricted">
						<span class="glyphicon glyphicon-lock"></span>
					</span>
				</div>
				<div class="configureforums-categoryforums">
					<div class="configureforums-forum edit-container" ng-repeat="forum in category.forums">
						<label ng-hide="forum.edited">{{forum.name}}</label>
						<input ng-show="forum.edited" type="text" />
						<span ng-show="forum.edited" class="btn-icon-ok"></span>
						<span ng-show="forum.edited" class="btn-icon-cancel"></span>
						<span class="icon-restricted">
							<span class="glyphicon glyphicon-lock"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="loading-spinner" ng-show="forumsStatus.loading"></div>
	<alert type="danger" ng-show="forumsStatus.error">{{forumsStatus.errormessage}}</alert>
</div>