<div ng-controller="LoginCtrl">
	<h1>Login/Logout</h1>
	
	<form id="LoginForm" name="LoginForm" class="form-horizontal" role="form" ng-submit="login()" ng-hide="authenticated">
        <legend class="sm-col-12">Login Information</legend>
        
        <alert type="info">Bitte Username und Passwort eingeben:</alert>
        <alert type="danger" ng-show="message" close="clearMsg()">{{message}}</alert>

        <div class="form-group">
            <label id="lbl_username" for="username" class="col-sm-4 control-label" is-required="loginForm.username">Username</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" ng-model="loginForm.username" required>
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_password" for="password" class="col-sm-4 control-label" is-required="loginForm.password">Password</label>

            <div class="col-sm-8">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" ng-model="loginForm.password" required>
            </div>
        </div>

        <pre>{{ lc.loginForm | json }}</pre>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_login">Login</button>
            </div>
        </div>


    </form>
    <div ng-show="authenticated">
        <button type="button" class="btn btn-success" id="btn_login" ng-click="logout()">Logout</button>
    </div>
	
</div>