<div ng-controller="ShowTopicCtrl" class="view-showtopic">

	<div class="view-header" ng-show="topicStatus.successful">
		<div class="breadcrumb-combined">
			<ol class="breadcrumb">
				<li><a ng-href="/#/" site-title>Friday Night Beer</a></li>
				<li><a ng-href="/#/">Forum</a></li>
				<li><a ng-href="/#/forum/{{topic.forum}}">{{topic.forumTitle}}</a></li>
				<li class="active">{{topic.title}}</li>
			</ol>
			<div class="headeroptions">
				<span ng-if="authenticated">
					<a ng-click="showInsertPost()">Antworten</a>
				</span>
			</div>
		</div>
	</div>
	<div class="main-content" ng-show="topicStatus.successful">
		<h2>{{topic.title}}</h2>
		<table st-table="topic.posts" class="topic">
			<tbody>
			<tr ng-repeat="post in topic.posts">
				<td class="showtopic-user-col">
					<div><a ng-href="/#/user/{{post.user}}">{{post.userName}}</a></div>
					<div ng-show="post.userFullname">
						{{post.userFullname}}
					</div>
					<div ng-if="post.userAvatar && authenticated">
						<img ng-src="/avatar/{{post.user}}" alt="[Avatar]" />
					</div>
					<div>{{post.date | date:'dd.MM.yyyy HH:mm'}}</div>
				</td>
				<td class="showtopic-content-col">
					<div class="post-content" ng-bind-html="post.content"></div>
					<div class="post-uploads" ng-if="post.uploads">
						<span class="post-uploads-title">Uploads:</span>
						<ul>
							<li ng-repeat="upload in post.uploads">
								<a href="/uploads/{{post.id}}/{{upload.filename}}" target="_self">{{upload.filename}}</a>
								({{upload.size}} bytes, {{upload.hits}} Hits)
							</li>
						</ul>
					</div>
				</td>
			</tr>
			<tr ng-if="!insertPost.visible && authenticated">
				<td></td>
				<td>
					<button type="button" class="btn btn-success" id="btn_showinsertpost"
						ng-click="showInsertPost()">Antworten</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="loading-spinner" ng-show="topicStatus.loading"></div>
	<alert type="danger" ng-show="topicStatus.error">{{topicStatus.errormessage}}</alert>
	<form id="insertPostForm" name="insertPostForm" class="form-horizontal form-dialog" role="form" ng-if="insertPost.visible">

		<h2 class="form-header">Antworten</h2>
		<div class="form-body" ng-show="insertPost.status.successful || insertPost.status.error">

			<alert type="danger" ng-show="insertPost.status.error" close="clearInsertPostErrors()">{{insertPost.status.errormessage}}</alert>

			<div text-angular ng-model="insertPost.form.content" name="demo-editor" ta-text-editor-class="form-control"
				ta-html-editor-class="form-control" required></div>

		</div>
		<div class="form-body" ng-show="insertPost.status.loading">
			<div class="loading-spinner"></div>
		</div>
		<div class="form-footer clearfix">
			<a ng-click="hideInsertPost()" id="btn_cancel" class="btn btn-warning">Cancel</a>

			<button type="submit" class="btn btn-success" id="btn_login" ng-click="insertPost.execute()">Antworten</button>
		</div>
	</form>
</div>