@* Angular2 Application Template *@
@import theme.Theme
@import services.SettingsDTO
@(theme: Theme, settings: SettingsDTO)
<!doctype html>
<html lang="en" data-framework="angular2">
    <head>
        <meta charset="utf-8">
        <title>@settings.siteTitle</title>

        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" />
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/textAngular/textAngular.css")" />
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("lib/font-awesome/css/font-awesome.css")" />
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/fnb.css")" />

        <script src="@routes.Assets.versioned("lib/angular2/bundles/angular2-polyfills.js")"></script>
        <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
        <script src="@routes.Assets.versioned("lib/rxjs/bundles/Rx.js")"></script>
        <script src="@routes.Assets.versioned("lib/angular2/bundles/angular2.dev.js")"></script>

        <script>
            @* our app is downloaded as individual javascript files by SystemJs after compilation by sbt-typescript*@
            System.config({
                packages: {
                    'assets/app': {
                        defaultExtension: 'js'
                    },
                    'assets/lib': {
                        defaultExtension: 'js'
                    }
                },
                map: {
                    'app' : 'assets/app' @* play standardly publishes our asset files under /assets *@
                }
            });
            @* SystemJs works out which other modules our bootstrap module depends on and will download and load them*@
            System.import('app/bootstrap').catch(console.error.bind(console));
		</script>
    </head>
    <body>
        <todo-app></todo-app>
    </body>
</html>