@* Angular2 Application Template *@
@import services.SettingsDTO
@(settings: SettingsDTO)
<!doctype html>
<html lang="en" data-framework="angular2" class="modern-theme">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
        <title>@settings.siteTitle</title>

        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("dist/vendor-style.css")">
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("dist/app-style.css")">

        <link rel="shortcut icon" href="@routes.Assets.versioned("favicon.ico")">
    </head>
    <body>
        <fnb-app></fnb-app>

        <script>
            (function() {
                this.FnbConfig = this.FnbConfig || {};
                this.FnbConfig.environment = { cordova: false, assetRoot: "/assets", apiRoot: "/api", appResourcesRoot: "/resources" };
                this.FnbConfig.config = { siteTitle: "@{settings.siteTitle}", registerEnabled: @settings.registerEnabled, defaultTheme: "@{settings.defaultTheme}" };
                console.log("Configuration loaded");
            })(window);
        </script>
        <script src="@routes.Assets.versioned("dist/polyfills.bundle.js")"></script>
        <script src="@routes.Assets.versioned("dist/vendor.bundle.js")"></script>
        <script src="@routes.Assets.versioned("dist/app.bundle.js")"></script>
    </body>
</html>